{% extends 'base.html.twig' %}

{% block title %}Création mode de paiement{% endblock %}

{% block body %}
 <a href="{{ path('matiere_all') }}">Retour a l'acceuil</a>
    {{ form(form) }}

{% endblock %}