{% extends 'base.html.twig' %}

{% block title %}Profil {% endblock %}

{% block body %}

<h1 class="text-center">Hello (nom de l'utilisateur) </h1>

    <a href="#"><h2> Modifier ton profil</h2></a>

    <h2>Mes competences</h2>

    <h2>Mes badges</h2>
    <div>
        <h2>Recevez une surprise</h2>
        <p>Invitez vos amis : 1 mois d'abonnement gratuit pour eux,une surprise pourt vous!</p>
        <a href="#" class="btn btn-light btn-lg pl-5 pr-5"><button>Invitez des amis</button></a>
    </div>
    <h2>Mon abonnement</h2>
    <a href="#" class="btn btn-light btn-lg pl-5 pr-5">Gerer mon abonnement</a>
 

{% endblock %}
