

        <footer class="d-flex align-items-center justify-content-center footer">
            <p>Foxie © 2020 - </p>
            <a href=""> Mentions légales - </a>
            <a href=""> CGV - </a>
            <a href=""> Déclaration de protection des données - </a>
            <a href=""> Nous contacter</a>
        </footer>

