
        <header>
            <nav>
                <div class="row flex-sm-row-reverse">

                    <div class="col-sm-6 col-lg-8 text-right d-flex justify-content-end">
                        <div><i class="fas fa-search m-2"></i></div>
                        <div><i class="fas fa-bars m-2"></i></div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="row m-2">
                            <div class="col-2">
                                <div class="rounded-circle"></div>
                            </div>
                            <div class="col-6">{{app.user.username}}<br>{{app.user.pseudo}}</div>
                            <div class="col-4 text-right">12300 XP / 14320 XP</div>
                            <div class="col-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
            <section>
                <div class="row">
                    <div class="offset-sm-6 col-sm-6 offset-md-8 col-md-4 offset-lg-9 col-lg-3">
                        <div class="row flex-row-reverse align-items-center">
                            <div class="col-8"><a class="btn btn-primary btn-block rounded-pill">Appelez un Mentor à l'aide</a></div>
                            <div class="col-4 text-right"><a class="btn btn-primary rounded-circle"><i class="fas fa-comment-dots contain-nav2"></i></a></div>
                        </div>
                    </div>
                </div>
            </section>
        </header>

