
<ul>
    <li><a href="{{ path('matiere_all') }}">Accueil</a></li>
    <li><a href="{{ path('profil_update') }}">Mon profil</a></li>
    <li><a href="{{ path('acceuil') }}">Déconnexion</a></li>
</ul>

